*{
    margin: 0px;
    padding: 0px;
}
.header{
    overflow: hidden;
    background:rgb(128, 50, 218);
    height: 70px;
}
.header a{
    font-size: 30px;
    padding: 10px;
   
}

.header,.boton{
    color: aliceblue;
}

form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
form input{
    width: 20%;
    height: 25px;
    margin:2px;
}

form,input,a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form .boton {
    border: none;
    background: rgb(128, 50, 218);
    border-radius: 5px;
    height: 30px;
}
